@font-face {
    font-family: 'Montserrat-Bold';
    src: url('Montserrat-Bold.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat-Regular';
    src: url('11952.ttf');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Montserrat-Regular';
    font-size: 14px;
}

.helpful_header .left-big-brown-one {
    margin-top: 40px;
    margin-bottom: 40px;
}

.form7 {}

.form7 .btn {
    padding: 0 1px 0 0;
}

.form7 .btn .btn_brown {
    width: auto;
    padding: 0 25px 0 25px;
}

.helpful_img {}

.helpful_block {
    margin-top: 40px;
}

.helpful_block .ramka {}

.helpful_block_text {
    margin: 30px 30px 10px 30px;
    overflow: hidden;
    height: 110px;
}

.helpful_block_text h2 {
    font-family: 'Montserrat-Bold';
    font-size: 16px;
}

.helpfultext a {
    font-family: 'Montserrat-Bold';
    color: #00B400;
    margin: 0px 30px 30px 0px;
    float: right
}

.page_btn {
    color: white;
    width: 50px;
    font-size: 13px;
    background-color: #4BB304;
    font-family: "Montserrat-Bold";
    border-radius: 7px;
    padding: 0 22px;
    line-height: 50px;
    text-decoration: none;
    display: block;
    float: left;
    margin: 30px 0 0 15px;
    text-decoration: none;
}

.helpful_page_btn a:nth-child(1) {
    background-color: #00B400;
    color: white
}

.helpful_page_btn a:nth-child(2) {
    background-color: RGBA(212, 237, 199, 1);
    color: white;
    opacity: 1.0;
    color: #00B400;
}

.block-in-three-helpful {
    width: 30%;
    float: left;
    margin: 15px;
    height: 450px;
    margin-bottom: 15px;
}

@media only screen and (max-width: 1200px) {
    .block-in-three-helpful {
        width: 44%;
        float: left;
        margin: 15px;
    }
}

@media only screen and (max-width: 992px) {
    .helpful_block {
        margin-top: 0px;
    }
    .helpful_block_text {
        height: 130px;
        margin: 20px 20px 10px 20px;
    }
    .helpfultext a {}
    .helpful_img {
        width: 100%;
        height: auto;
    }
    .helpful_block .ramka {
        margin-top: 30px;
        width: 100%
    }
    helpful_block_text {
        height: 140px;
    }
}

@media only screen and (max-width: 768px) {
    .block-in-three-helpful {
        width: 100%;
        margin: 15px 0;
    }
    .helpful_block_text {
        height: 90px;
        margin: 30px 30px 10px 30px;
    }
    .helpfultext a {}
    @media only screen and (max-width: 576px) {
        .helpful_block_text {
            height: 90px;
            margin: 30px 10px 10px 10px;
        }
        .helpfultext a {
            margin: 0px 20px 10px 10px;
        }
    }
}