@font-face{
    font-family: 'Montserrat-Bold';
    src: url('Montserrat-Bold.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'Montserrat-Regular';
    src: url('11952.ttf');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Montserrat-Regular';
    font-size: 14px;
}

.bar a {
    font-family: 'Montserrat-Bold' !important;
    text-align: right!important;
    font-size: 13px !important;
    color: #4BB304 !important;
    border-bottom: 2px solid #4BB304;
    cursor: pointer;
}

.form7 .btn {
    padding: 0 10px 0 0;
}

.form7 .btn .btn_brown {
    width: auto;
    padding: 0 35px 0 35px;
}

