@font-face{
    font-family: 'Montserrat-Bold';
    src: url('Montserrat-Bold.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'Montserrat-Regular';
    src: url('11952.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'Roboto-Medium';
    src: url('3964.ttf');
    font-weight: normal;
    font-style: normal;
}


@font-face{
    font-family: 'Myriad-Pro';
    src: url('.ttf');
    font-weight: normal;
    font-style: normal;
}

.backmenu {
    background: #f8eee3 url(menu.png) center center repeat-x;
    width: 100%; 
    height: 150px;
    padding-top: 25px;
}

.logo {
    width: 168px;
    height: 96px;
    background: transparent url(logo.png) center center no-repeat;
    padding-top: 44px;
}

.menu-container {
    padding-top: 30px;
}

.number {

}

.numberandbell {
    float: right; 
    margin-right: 60px; 
    margin-top: 25px;
}

.number a {
    font-family: 'Montserrat-Bold' !important;
    font-size: 18px !important;
    color: #222222 !important   ;
}

.bell {
    text-align: right;
}

.bell a{
    font-family: 'Montserrat-Bold' !important;
    text-align: right!important;
    font-size: 13px !important;
    color: #4BB304 !important   ;
    border-bottom: 2px solid #4BB304;
}

.leaf {
    position: absolute;
    width: 250px;
    height: 272px;
    background: transparent url(leaf.png) no-repeat center;
    bottom: -50px;
    left: 20px;
}

.sliver {
    position: absolute;
    width: 190px;
    height: 155px;
    background: transparent url(/i/images/sliver.png) no-repeat center;
    bottom: -50px;
    right: 200px;
}

.sliver-how {
    position: absolute;
    width: 190px;
    height: 155px;
    background: transparent url(/i/images/sliver.png) no-repeat center;
    bottom: -190px;
    right: 200px;
}

.garant {
    font-family: 'Montserrat-Bold';
    font-size: 35px;
    color: #356692;
    margin-bottom: 37px;
    margin-top: 90px;
}

.garbot {
    font-family: 'Montserrat-Bold';
    font-size: 16px;
    color: #356692;
    list-style-type: none;
    padding-left: 2rem;
    background-position: 0 0;
    background-size: 1.6rem 1.6rem;
    background-repeat: no-repeat;
    margin-bottom: 15px;
    background-image: url(firstkrug.png);
}

.consider {
    font-size: 13px;
}
.form-input2x3 {
    font-weight: normal;
    border:none;
    color: #7D6A56;
    width: 100%;
    background: none;
    font-size: 13px;
    height: 30px;
    text-decoration: none;
    font-family: "Montserrat-Bold";
    padding: 8px 14px 6px 14px;
    background-color: #F4E5DF;
    border: 2px solid #F4E5DF;
    border-radius: 30px;
    color: #7D6A56;
    line-height: calc(24 / 16);
    cursor: pointer;
    outline: none;
    transition: background 0.175s ease-in, color 0.175s ease-in;
    width: 185px;
    height: 45px;;
}
textarea.form-input2x3 {
    height: 165px;
}

.form-input2x3[type=submit]:hover {
    background-color:#7D6A56;
    color: white;
}

.form-input2x3::-webkit-input-placeholder { color: rgba(255, 255, 255, 0.73); }

.form-input2x3::-webkit-input-placeholder { color: rgba(255, 255, 255, 0.53); font-weight: 100;}

.form-input2x3{outline:none;}

.form-input2x3 {outline:none;}
.form-input2x3:-moz-placeholder { color: rgba(255, 255, 255, 0.53); }
.form-input2x3::-webkit-input-placeholder { color: rgba(255, 255, 255, 0.53); font-weight: 100; }

.center-big-brown {
    font-family: 'Montserrat-Bold';
    font-size: 35px;
    color: #7D6A56;
    text-align: center;
    margin-top:110px;
    margin-bottom: 75px;
}

.reasons-main {

}

.reasons-main .reason {
    width: 20%;
    float: left;
    cursor: pointer;
}

.reasons-main .reason .r-icon {
    width: 178px;
    height: 178px;
    border: 1px solid #ebdbd4;
    border-radius: 178px;
    margin: 0 auto;
}

.reasons-main .reason:hover .r-icon {
    width: 178px;
    height: 178px;
    border: 1px solid #ebdbd4;
    border-radius: 178px;
    margin: 0 auto;
    box-shadow: 0px 3px 12px rgba(0,0,0,.2);
}

.reasons-main .reason .r-icon .r-icon-bg {
    width: 140px;
    height: 140px;
    background: white;
    border-radius: 140px;
    margin: 0 auto;
    margin-top: 18px;
}
.reasons-main .reason .r-icon .r-icon-num {
    font-family: 'Montserrat-Bold';
    font-size: 50px;
    color: rgba(243,229,223,.7);
    margin-top: -35px;
}

.reasons-main .reason:nth-child(1) .r-icon .r-icon-bg {
    background: white url(/i/images/why_main/ico_1_brown.png) no-repeat center center;
}
.reasons-main .reason:nth-child(1):hover .r-icon .r-icon-bg {
    background: white url(/i/images/why_main/ico_1_blue.png) no-repeat center center;
}
.reasons-main .reason:nth-child(2) .r-icon .r-icon-bg {
    background: white url(/i/images/why_main/ico_2_brown.png) no-repeat center center;
}
.reasons-main .reason:nth-child(2):hover .r-icon .r-icon-bg {
    background: white url(/i/images/why_main/ico_2_blue.png) no-repeat center center;
}
.reasons-main .reason:nth-child(3) .r-icon .r-icon-bg {
    background: white url(/i/images/why_main/ico_3_brown.png) no-repeat center center;
}
.reasons-main .reason:nth-child(3):hover .r-icon .r-icon-bg {
    background: white url(/i/images/why_main/ico_3_blue.png) no-repeat center center;
}
.reasons-main .reason:nth-child(4) .r-icon .r-icon-bg {
    background: white url(/i/images/why_main/ico_4_brown.png) no-repeat center center;
}
.reasons-main .reason:nth-child(4):hover .r-icon .r-icon-bg {
    background: white url(/i/images/why_main/ico_4_blue.png) no-repeat center center;
}
.reasons-main .reason:nth-child(5) .r-icon .r-icon-bg {
    background: white url(/i/images/why_main/ico_5_brown.png) no-repeat center center;
}
.reasons-main .reason:nth-child(5):hover .r-icon .r-icon-bg {
    background: white url(/i/images/why_main/ico_5_blue.png) no-repeat center center;
}

.reasons-main .reason .r-text, .reasons-main .reason .r-text-hidden {
    text-align: center;
    margin-top: 10px;
    font-family: 'Montserrat-Regular';
}
.reasons-main .reason .r-text {
    display: block;
}

.reasons-main .reason .r-text-hidden {
    color: #356692;
    font-weight: bold;
    display: none;
}

.reasons-main .reason:hover .r-text {
    display: none;
}

.reasons-main .reason:hover .r-text-hidden {
    display: block;
}


.competitor-main {


}

.competitor-main .competitor {
    width: 16%;
    float: left;
}

.competitor-main .competitor .c-icon {
    width: 165px;
    height: 165px;
    border: 1px solid #ebdbd4;
    border-radius: 178px;
    margin: 0 auto;
    box-shadow: 0px 0px 12px #EADAD3;
}

.competitor-main .competitor .c-text {
    text-align: center;
    margin-top: 10px;
    font-family: 'Montserrat-Regular';
}

.competitor-main .competitor .c-icon .c-icon-bg {
    width: 140px;
    height: 140px;
    background: transparent url(c-bg1.png) center center no-repeat;
    border-radius: 140px;
    margin: 0 auto;
    margin-top: 12px;
}

.competitor-main .competitor:nth-child(1) .c-icon .c-icon-bg {
    background: white url(/i/images/competitor-main/c-bg1.png) no-repeat center center;
}

.competitor-main .competitor:nth-child(2) .c-icon .c-icon-bg {
    background: white url(/i/images/competitor-main/c-bg2.png) no-repeat center center;
}

.competitor-main .competitor:nth-child(3) .c-icon .c-icon-bg {
    background: white url(/i/images/competitor-main/c-bg3.png) no-repeat center center;
}

.competitor-main .competitor:nth-child(4) .c-icon .c-icon-bg {
    background: white url(/i/images/competitor-main/c-bg4.png) no-repeat center center;
}

.competitor-main .competitor:nth-child(5) .c-icon .c-icon-bg {
    background: white url(/i/images/competitor-main/c-bg5.png) no-repeat center center;
}

.competitor-main .competitor:nth-child(6) .c-icon .c-icon-bg {
    background: white url(/i/images/competitor-main/c-bg6.png) no-repeat center center;
}

.five {
    font-family: 'Montserrat-Bold';
    font-size: 16px;
    color: #272727;
    text-align: center;
    margin-top: 200px;
}

.five:hover a {
    color: #356692;
}
.five:hover {
    color:#356692;
}

.mine {
    font-family: 'Montserrat-Regular';
    font-size: 16px;
    color: #272727;
    margin-top: 70px;
    margin-bottom: 110px;
}

.hardkrug {
    width: 201px;
    height: 201px;
    background: transparent url(hardkrug.png) center center no-repeat;

}

.six {
    font-family: 'Montserrat-Regular';
    font-size: 16px;
    text-align: center;
    margin-top: 200px;
}

.kitchen-price {
    padding: 40px 40px 40px 40px;
}

.kitchen-price .kitchen-price-text {
    padding: 50px 70px 30px 0;
    font-family: 'Montserrat-Regular';
    font-size: 16px;
}

.kitchen-price .kitchen-price-text ul {

    list-style-type: none;

}

.kitchen-price .kitchen-price-text ul li {
    padding-left: 2rem;
    background-position: 0 0;
    background-size: 1.5rem 1.5rem;
    background-repeat: no-repeat;
    margin-bottom:15px;

}

.zone {
    font-family: 'Montserrat-Bold';
    font-size: 16px;
    text-align: center;
    margin-top: 30px;
}

.color-block {
    float: left;
    width: 20%;
}

.color-block .krug  {
    width: 30px;
    height: 30px;
    border-radius: 50px;
    margin: 0 auto;

}

.krug-brown {
    background-color: #E0C9B2;
}

.krug-blue {
    background-color: #A7CBE2;
}

.krug-rose {
    background-color:#FFE8D4;
}

.krug-mint {
    background-color:#CDECF8;
}

.krug-orange {
    background-color:#FB9769;
}

.krug1 {
    background-image: url(krug1.png);
}

.krug2 {
    background-image: url(krug2.png);
}

.krug3 {
    background-image: url(krug3.png);
}

.krug4 {
    background-image: url(krug4.png);
}

.krug5 {
    background-image: url(krug5.png);
}

.krug6 {
    background-image: url(krug6.png);
}

.bg-w {
    background-color: white;

}

.number-block {
    float: left;
    width: 33%;
}

.spacebg-w {
    padding-top: 50px;
    margin-bottom: 15px;
}

.kyx {
    font-family: 'Montserrat-Bold';
    font-size: 35px;
    color: #7D6A56;
    text-align: left;
    margin-bottom: 75px;
    margin-top: 60px;
}

.material {

}

.block-in-two {
    width: 45%;
    float: left;
    margin: 15px ;
}


.ramka {
    background-color:white;
    border: 2px solid #EBD9D2;
    border-radius: 10px; 
    box-shadow: 0px 10px 0 #F4E5DF;
    overflow:hidden; 
}

.textin {
    text-align: center;
    margin-top: 30px;
    margin-left: 140px;


}

.textin ul {
    text-align:left;
    font-family: 'Montserrat-Bold';
    font-size: 16px;
    color: #356692;


}

.textin li {
    font-family: 'Montserrat-Regular';
    font-size: 13px;
    color: black;
    list-style-type: none;
}

.textin li::before {
    content: '-'
}

.textin_firstli {
    padding-top: 20px;
}

.block-in-three {
    width: 30%;
    float: left;
    margin: 15px;

}

.block-in-one {
    width: 100%;
    float: left;

}

.article-sidebar .block-in-one {
    margin: 15px 0px;
}

.imgramka {
    margin-left: -75px;
    float: left;
}

.plan {
    margin-bottom: 80px;
}


.left-big-brown-one {
    font-family: 'Montserrat-Bold';
    font-size: 35px;
    color: #7D6A56;
    text-align: left;
    margin-bottom: 75px;
    margin-top: 50px;
}

.left-big-brown-one.fasad {
    margin-bottom: 0px;
}

.fasad-tabs .btn_be:first-child .obertka {

}

.bar {
    margin-bottom: 40px
}

.bar a {
    font-family: 'Montserrat-Bold' !important;
    text-align: right!important;
    font-size: 13px !important;
    color: #4BB304 !important;
    border-bottom: 2px solid #4BB304;
    cursor: pointer;

}

.review-slider {
    width: 100%;

    border-radius: 10px;
    background: white;
    overflow: hidden;
    margin-top: 35px;
    margin-bottom: 100px;
    border: 2px solid #EBD9D2; 
    box-shadow: 0px 10px 0 #F4E5DF;
}
.review-slider-text {
    font-family: 'Montserrat-Regular';
    font-size: 16px;
    color: #272727;
    padding: 60px 20px 50px 50px;
}

.review-slider-text ul {
    margin: 15px 0 0 0;
    padding: 0 0 0 0;
}

.review-slider-text li {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.review-slider-text li {list-style-type: none;
}

.review-slider-text li::before {
    content: '-'; 
}

.review-slider .image-slides {
    width: 100%; 
    height: 350px;
    display: block;
    position: relative;
    overflow: hidden;
}

.review-slider .image-slides img {
    width: 100%;
}

.review-slider .image-slides .arrow-left {
    display: block;
    position: absolute; 
    left: 0;
    top: 50%;
    margin-top: -30px;
    width: 60px;
    height: 60px;
    background: white;
    border-radius: 0 30px 30px 0;
    color: #356692;
    font-size: 50px;
    padding-left: 12px;
    padding-top: 5px;
    cursor: pointer;
}

.review-slider .image-slides .arrow-right {
    display: block;
    position: absolute; 
    right: 0;
    top: 50%;
    margin-top: -30px;
    width: 60px;
    height: 60px;
    background: white;
    border-radius: 30px 0 0 30px;
    color: #356692;
    font-size: 50px;
    padding-right: 12px;
    padding-top: 5px;
    text-align: right;
    cursor: pointer;
}

.how-we-work {}
.how-we-work .one-block {
    width: 33.333333%;
    float: left;
    height: 100px;
}

.how-we-work .one-block .num {
    float: left;
    margin-right: 25px;
}

.how-we-work .one-block .block-border {
    margin-left: 105px;
    padding-right: 30px;
}

.how-we-work .one-block .block-border .text {
    border-top: 1px solid #F9E6E0;
    padding-top: 20px;
    padding-left: 10px;
    position: relative;
    font-family: 'Montserrat-Regular';
    font-size: 16px;
    line-height: 18px;
}

.how-we-work .one-block .block-border .text span {
    font-family: 'Montserrat-Bold';
    font-style: normal !important;
}

.how-we-work .one-block .block-border .text i {

}

.how-we-work .one-block .block-border .text .arrow {
    position: absolute;
    top: -8px;
    right: 0px;
    color: #356692;
}

.left-big-brown-with {
    font-family: 'Montserrat-Bold';
    font-size: 35px;
    color: #7D6A56;
    text-align: left;
    margin-bottom: 10px;
    margin-top: 110px;
}

.pod_lbb {
    font-family: 'Montserrat-Bold';
    font-size: 18px;
    color: #7D6A56;
    text-align: left;
    margin-bottom: 75px;
}

.left-sm-brown {
    font-family: 'Montserrat-Regular';
    font-size: 14px;
    color: #000000;
    margin-bottom: 10px;
}

.obertka {
    border: 1px solid #4BB304;
    width: 268px;
    padding: 2px 2px 2px 2px;
    border-radius: 30px;
    text-align: center;
    margin-left: 30px;
    margin-top: 30px;
    line-height: 24px;
}

.obertka .be {
    display: block;
    font-weight: normal;
    margin: 0 auto;
    font-size: 13px;
    text-decoration: none;
    font-family: "Montserrat-Bold";
    text-align: center;
    background-color: #F4E5DF;
    border: 2px solid #F4E5DF;
    border-radius: 30px;
    color: #7D6A56;
    cursor: pointer;
    outline: none;
    line-height: 41px;
    transition: background 0.175s ease-in, color 0.175s ease-in;
    width: 185px;
    height: 45px;
}

.obertka:hover .be {
    background-color:#7D6A56;
    color: white;
}

.green-btn {
    color: white;
    width: 260px;
    font-size: 13px;
    background-color: #4BB304;
    font-family: "Montserrat-Bold";
    border-radius: 30px;
    padding: 0 14px;
    transition: background 0.175s ease-in, color 0.175s ease-in;
    line-height: 50px;
    text-decoration: none;
    display: block;
}

.btn_brown {
    color: #856A54;
    font-size: 13px;
    background-color: #F8E6DF;
    font-family: "Montserrat-Bold";
    border-radius: 30px;
    transition: background 0.175s ease-in, color 0.175s ease-in;
    line-height: 50px;
    text-decoration: none;
    display: block;
    border:none;
    padding: 0 15px;
}

.btn-border {
    border: 2px #F8E6DF solid;
    border-radius: 30px;
    padding: 2px 2px 2px 2px;

}

.btn_brown:hover {
    background-color: #856A54;
    color: white;
}


.blue-btn {
    color: white;
    width: 260px;
    font-size: 13px;
    background-color: #356692;
    font-family: "Montserrat-Bold";
    border-radius: 30px;
    padding: 0 14px;
    transition: background 0.175s ease-in, color 0.175s ease-in;
    line-height: 50px;
    text-decoration: none;
    display: block;
}

.blue-input {
    border: none;
    font-weight: normal;
    border: 2px solid #EBD9D2;
    border-radius: 30px;
    color: white;
    width: 100%;
    font-size: 14px;
    text-decoration: none;
    font-family: 'Montserrat-Bold';
    width: 270px;
    height: 50px;
    background-color: #006695;


}



.form-input {
    font-weight: normal;
    border: none;
    color: rgba(255, 255, 255, 0.53);
    width: 260px;
    background: none;
    font-size: 13px;
    height: 30px;
    text-decoration: none;
    font-family: "Montserrat-Bold";
    padding: 8px 14px 6px 14px;
    background-color: #4BB304;
    border: 2px solid #4BB304;
    border-radius: 30px;
    color: white;
    line-height: calc(24 / 16);
    cursor: pointer;
    outline: none;
    transition: background 0.175s ease-in, color 0.175s ease-in;
    height: 50px;
}

.first {

    margin-bottom: 160px;

}

.ob_green {
    border: 2px solid #4BB304;
}

.btn_be .obertka {
    border: 2px solid #EBD9D2;
    width: 195px;
}

.btn_be {
    width: 18%;
    float: left;
}

.ob_blue {
    border: 2px solid #356692; 
}

textarea.form-input {
    height: 165px;
}

.form-input::-webkit-input-placeholder { color: rgba(255, 255, 255, 0.73); }

.form-input::-webkit-input-placeholder { color: rgba(255, 255, 255, 0.53); font-weight: 100;}

.form-input{outline:none;}

.form-input {outline:none;}
.form-input:-moz-placeholder { color: rgba(255, 255, 255, 0.53); }
.form-input::-webkit-input-placeholder { color: rgba(255, 255, 255, 0.53); font-weight: 100; }




.bg-n {
    background: #FAF4EC;
}

.free {
    font-family: 'Montserrat-Bold';
    font-size: 40px;
    color: #7D6A56;
}

.free-forms {

}

.oper {
    margin: -590px 0 0px 870px;

}

.persona {
    font-family: 'Montserrat-Regular';
    font-size: 14px;
    color: #7D6A56;
    margin-top: -15px;
}

.name-input {
    border: none;
    font-weight: normal;
    border: 2px solid #EBD9D2;
    border-radius: 30px;
    color: black;
    width: 100%;
    font-size: 14px;
    height: 30px;
    text-decoration: none;
    font-family: 'Montserrat-Regular';
    width: 270px;
    height: 50px;
    background-color: white;
    padding-left: 24px;
    box-shadow: 0px 3px 12px rgba(0,0,0,.2)
}
textarea.name-input {
    height: 165px;
    width: 5px;
}

.name-input:hover {
    background-color: white;
    color: #272727;;
}


.name-input::-webkit-input-placeholder { color: #272727); }

.name-input::-webkit-input-placeholder { color:#272727; font-weight: 100;}

.name-input{outline:none;}

.name-input {outline:none;}
.name-input:-moz-placeholder { color: #272727; }
.name-input::-webkit-input-placeholder { color: #272727; font-weight: 100; }

.mat {
    width: 375px;
    height: 240px;
    background: transparent url(mat.png) center center no-repeat;
    float: left;
}

.plan-png-1 {
    width: 375px;
    height: 240px;
    background: transparent url(plan-png-1.png) center center no-repeat;

}

v1-img {

}

.wordin {
    font-family: 'Montserrat-Bold';
    font-size: 16px;
    color: #356692;
    position: absolute; 
    margin-top: 25px;
    margin-left: 30px;

}


.bg-b {
    background-color: #FBF5EE;
    width: 100%;
}

.calc {
    font-family: 'Montserrat-Bold';
    font-size: 35px;
    color: #7D6A56;
    text-align: left;
    margin-bottom: 35px;
}

.name-calc  {
    width: 13% !important;
}

.phone-calc  {
    width: 47% !important
}

.skr {
    width: 19px;
    height: 30px;
    background: transparent url(skr.png) center center no-repeat;
}

.file {
    padding-left: 20px;
}

.form-calc {
    margin-right: 30px;
}

.form-calc-left{
    float: left;
}

.calc-forms-bottom {
    margin-top: 50px
}

.free-forms-bottom {
    margin-top: 50px
}


.blue-calc-form {
}

.form-file {
    margin: 15px 125px 0 0;
}

.offer-form {
    margin: 15px 25px 0 0;
}

.numbandname {
    margin-top: 60px;
}

.zakazbuttonmargin {
    margin-top: -15px;
}

.offer {
    font-family: 'Montserrat-Regular';
    font-size: 14px;
    color: #7D6A56;
    margin-top: 15px;
}

.offer-form {
    width: 280px;
}


.button-cons {
    font-weight: normal;
    border:none;
    color: white !important;
    background: none;
    font-size: 14px;
    height: 30px;
    text-decoration: none;
    font-family: "Montserrat-Bold";
    width: 260px;
    height: 50px;
    background-color: #356692;
    border: 2px solid #356692;
    border-radius: 30px;
    padding: 8px 14px 6px 14px;
    border-radius: 30px;
    color: rgba(255, 255, 255, 0.73);
    line-height: calc(24 / 16);
    cursor: pointer;
    outline: none;
    transition: background 0.175s ease-in, color 0.175s ease-in;
}
textarea.button-cons {
    height: 165px;
}


.button-cons::-webkit-input-placeholder { color: white; }

.button-cons::-webkit-input-placeholder { color:white; font-weight: 100;}

.button-cons{outline:none;}

.button-cons {outline:none;}
.button-cons:-moz-placeholder { color: white; }
.button-cons::-webkit-input-placeholder { color: rgba(255, 255, 255, 0.53); font-weight: 100; }



.prav {
    margin-bottom: 10px !important;
}

.distance {
    font-family: 'Montserrat-Regular';
    font-size: 16px;
    text-align: center;
    margin-top: 60px;

}

.pravilo {
    font-family: 'Montserrat-Regular';
    font-size: 16px;
    text-align: center;

}

.bold {
    font-weight: bold;
}




.num-border-top {
    border-top: 1px solid #F9E6E0;
}

.withnum {
    font-family: 'Montserrat-Regular';
    font-size: 16px;


}

.withnum:after {

}

.namesecondname {
    font-family: 'Montserrat-Bold';
    font-size: 16px;
    color: #356692;
    text-align: center
}

.foot {
    padding: 70px 0 0 0;
}

.footbg {
    background: transparent url(footer.png) center center no-repeat; 

}

.foot a  {
    font-family: 'Montserrat-Regular';
    font-size: 13px;
    text-decoration: none;
    color: #222222; 
    text-align: center;
}

.foot a:hover  {
    color: #0d6efd;
}

.foot li {list-style-type: none;
}

.foot li::before {
    content: '-'; 
}

.foot ul {
    font-size: 16px;
}

.foot .politics {
    font-size: 16px;
    color: #0d6efd;
    text-decoration: underline;
}

.foot .politics:hover {

    text-decoration: none;

}

.article_text {
    padding: 60px 60px 60px 60px;
}

.article h1 {
    font-family: 'Montserrat-bold'; 
    color: #856A55;
    font-size: 30px;
    margin-bottom: 70px;
}

.article h2 {
    font-family: 'Montserrat-bold'; 
    color: #856A55;
    font-size: 24px;
    margin: 50px 0 70px 0;
}

.article h3 {
    font-family: 'Montserrat-bold'; 
    color: #856A55;
    font-size: 20px;
    margin-bottom: 100px;;
}

.article p {
    font-family: "Montserrat-Regular";
    margin-bottom: 0px;
    font-size: 14px;
    font-weight: bold;

}

.article p b {
    padding-top: 40px;
}

.article ul {
    margin-bottom: 30px;
    font-family: "Montserrat-Regular";
    font-size: 14px;
    font-weight: bold;
}

.article ol {
    margin-bottom: 30px;
    font-family: "Montserrat-Regular";
    font-size: 14px;
    font-weight: bold;

}
.red-bg {
    background-color: #F2DAD7;
    border-left: 4px solid #FF5252;

}

.text-color {
    line-height: 27px;
    color: #6C4C48;
    font-size: 14px;
    font-weight: bold;
    padding: 30px 70px 30px 30px;
    margin-bottom: 15px;
}

.green-bg {
    background-color: #C9FEBD;
    border-left: 4px solid #00B400;
    line-height: 27px;
    color:#4A6544;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 15px;
}

.yellow-bg {
    background-color:#FFF4CC;
    border-left: 4px solid #856A54;
    line-height: 27px;
    color: #856A54;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 15px;   
}

.article_sidebar_text {
    padding: 15px 15px 50px 0;
}

.article_sidebar_text h2 {
    font-family: 'Montserrat-Bold';
    font-size: 14px;
}

.article_sidebar_text a {
    font-family: 'Montserrat-Bold';
    font-size: 12px;
    color: #00B400;
    float: right;
    padding-top: 15px;
}

.article_sidebar_text div {
    font-family: 'Montserrat-Regular';
    font-size: 12px;

}



.read_block {
    background-color: #FCEEE3;
    border: 1px solid #F1DAD3;
    border-radius: 8px;
    box-shadow: 0px 3px 1px #F8E6DF;
}

.shadow-pink {
    box-shadow: 0px 3px 12px #F8E6DF;
    border-radius: 10px;
}

.read {
    font-family: 'Montserrat-Bold';
    font-size: 24px;
    color: #856A55;
    padding: 10px 0px 10px 50px;
}

.article {
    border: 1px solid #F1DAD3;
    border-radius: 7px;
}

.maybe {
    font-size: 30px;
}

.article_block_text {
    margin:30px 30px 30px 30px;
    overflow: hidden;
    height: 55px;
}

.article_block_text h2 {
    font-family: 'Montserrat-Bold';
    font-size: 16px;
}

.article_block_text_sidebar {
    margin:30px 30px 30px 30px;
    overflow: hidden;
    height: 145px;
}

.article_block_text_sidebar h2 {
    font-family: 'Montserrat-Bold';
    font-size: 16px;
}

.article_block_text_sidebar a {
    font-family: 'Montserrat-Bold';
    color: #00B400;
    font-size: 13px;
}

.article_block_text_sidebar .articletextsidebar {
    font-family:'Montserrat-Regular';
    font-size: 13px;
}

.square-green-btn {
    border-radius: 7px;
    margin: 50px 0 70px 0;
}

.modal_window {
    width: 360px;
    border-radius: 8px;
    background: #FDFBFA;
}

.modal_window .modal_text {
    font-family: 'Montserrat-Regular';
    font-size: 14px;
    padding: 70px 40px 50px 40px;
}

.modal_window .modal_text .header {
    font-size: 16px;
    text-align: center;

}

.modal_window .modal_text .modal-block-input {
    margin-top: 45px;
}

.modal_window .modal_text .modal-block-input input {
    font-size: 14px;
    text-align:left;
    height: 55px;
    border-radius: 8px;
    border: 1px solid #EAD9D2;
    box-shadow: 0px 0px 12px #EAD9D2;
    width: 100%;
    padding-left: 35px;
    text-decoration: none;

}
.modal_window .modal_text .modal-block-input input::-webkit-input-placeholder { color: #272727); }
.modal_window .modal_text .modal-block-input input::-webkit-input-placeholder { color:#272727; font-weight: 100;}
.modal_window .modal_text .modal-block-input input{outline:none;}
.modal_window .modal_text .modal-block-input input:-moz-placeholder { color: #272727; }
.modal_window .modal_text .modal-block-input input::-webkit-input-placeholder { color: #272727; font-weight: 100; }





.modal_window .modal_text .modal-block-input textarea {
    width: 100%;
    height: 200px;
    border-radius: 8px;
    border: 1px solid #EAD9D2;
    box-shadow: 0px 0px 12px #EAD9D2;
    padding-left: 35px;
    text-decoration: none;
    outline:none;
}
.modal_window .modal_text .modal-block-input textaera::-webkit--placeholder { color: #272727); }
.modal_window .modal_text .modal-block-input textaera::-webkit-input-placeholder { color:#272727; font-weight: 100;}
.modal_window .modal_text .modal-block-input textaera:-moz-placeholder { color: #272727; }
.modal_window .modal_text .modal-block-input textaera::-webkit-input-placeholder { color: #272727; font-weight: 100; }

.modal_window .modal_text .modal-block-input .grade-block {
    border-radius: 8px;
    border: 1px solid #EAD9D2;
    box-shadow: 0px 0px 12px #EAD9D2;

}

.modal_window .modal_text .modal-block-input .grade-block .grade-block-text {
    padding: 20px 50px 0px 35px;
    text-align:left;
}

.modal_window .modal_text .modal-block-input .file{
   margin-left: 15px;
    text-align: left;

}

.modal_window .modal_text .modal-block-input .file a {
    color: black;
    text-decoration: none;
    text-align: left;
    font-size: 12px;
    
}

.modal_window .modal_text .offer {
    color: #B5B5B5;
    margin: 0 !important;
}
.modal_window .modal_text .offer a {
    border-bottom: 1px solid #B5B5B5;
    cursor: pointer;
    text-decoration: none;
    color: #B5B5B5;
}

.modal_window .modal_text .modal-block-input .modal-send {
    color: white;
    background-color: #4BB304;
    border-radius: 8px;
    text-align: center;
    width: 100%;
    font-family: "Montserrat-Bold";
    padding: 0 14px;
    transition: background 0.175s ease-in, color 0.175s ease-in;
    line-height: 50px;
    text-decoration: none;
    display: block;
    
}

.green-back {
    background: transparent url(green-back.png) center center no-repeat;
    position: absolute;
    width: 36px;
    height: 36px;
    margin: -15px 0 0 340px;
    cursor: pointer;
}


.rating-area {
	overflow: hidden;
	width: 100%;
	margin: 5px 0px 15px -60px;
}
.rating-area:not(:checked) > input {
	display: none;
}
.rating-area:not(:checked) > label {
	float: right;
	width: 32px;
	padding: 0;
	cursor: pointer;
	font-size: 32px;
	line-height: 32px;
	color: #BDB3AA;
	text-shadow: 1px 1px #bbb;
}
.rating-area:not(:checked) > label:before {
	content: '★';
}
.rating-area > input:checked ~ label {
	color: gold;
	text-shadow: 1px 1px #c60;
}
.rating-area:not(:checked) > label:hover,
.rating-area:not(:checked) > label:hover ~ label {
	color: #7D6957;
}
.rating-area > input:checked + label:hover,
.rating-area > input:checked + label:hover ~ label,
.rating-area > input:checked ~ label:hover,
.rating-area > input:checked ~ label:hover ~ label,
.rating-area > label:hover ~ input:checked ~ label {
	color: gold;
	text-shadow: 1px 1px goldenrod;
}
.rate-area > label:active {
	position: relative;
}












@media only screen and (max-width: 1200px) {
    .competitor-main .competitor {
        width: 33%;
        margin: 15px 0;
    }

    .block-in-three {
        width: 44%;
        float: left;
        margin: 15px;
    }

    .textin {
        text-align: center;
        margin-top: 30px;
        margin-left: 180px;

    }

    .imgramka {
        margin-left: -50px;
    }


    .name-calc  {
        width: 50%;
    }

    .phone-calc {
        width: 50%;
    }

    .btn_be {
        width: 25%;
        float: left;
    }

    .block-in-two {
        width: 40%;
        float: left;
        margin: 15px ;
    }
    .oper {
        display: none;

    } 


}

@media only screen and (max-width: 992px) {
    .reasons-main .reason {
        width: 50%;
        margin: 15px 0;
    }



    .btn_be {
        width: 30%;
        float: left;
    }

    .textin {
        text-align: center;
        margin-top: 30px;
        margin-left: 130px;

    }

    .imgramka {
        margin-left: -90px;
    }



    .article_block_text {

    }

    .article_block_text_sidebar {
        margin:30px 0px 30px 20px;

    }

    .how-we-work .one-block {
        width:50%;
        float: left;
    }

    .block-in-two {
        width: 100%;
        float: left;
        margin: 15px 0 15px 0;

    }

    .kitchen-price {
        margin: 0 auto;
        padding: 0;
    }

    .free-forms {
        margin-left: 30px;
    }

    .read {
        font-family: 'Montserrat-Bold';
        font-size: 24px;
        color: #856A55;
        padding: 5px 0px 5px 10px;
    }
}

@media only screen and (max-width: 768px) {
    .block-in-three {
        width:100%;
        margin: 15px 0;
    }

    .btn_be {
        width: 100%;
        float: left;
    }

    .textin {
        text-align: center;
        margin-top: 30px;
        margin-left: 200px;

    }

    .imgramka {
        margin-left: -30px;
    }

    .color-block {
        float: left;
        width: 33%;
        margin: 15px 0;
    }

    .zone {
        font-size: 15px;
    }

    .how-we-work .one-block .block-border .text {
        font-size: 12px;
    }

    .form-calc {
        margin-right: 30px;
    }

    .form-calc-left{
        float: left;
        margin-bottom: 15px;
    }

    .calc-forms-bottom {
        margin-top: 0px
    }

    .calc-forms-bottom {
        margin-top: 15px
    }

    .form-file {
        margin: 15px 80px 20px 0;
    }

    .article_text {
        padding: 30px 30px 30px 30px;
    }
    .article h1 {

        font-size: 24px;
        margin-bottom: 40px;
    }

    .article p {

        margin-bottom: 0px;
        font-size: 14px;
        font-weight: bold;
    }

    .article h2 {
        font-family: 'Montserrat-bold'; 
        color: #856A55;
        font-size: 18px;
        margin: 50px 0 70px 0;
    }

    .article h3 {
        font-family: 'Montserrat-bold'; 
        color: #856A55;
        font-size: 16px;
        margin-bottom: 100px;;
    }

    .article p b {
        padding-top: 40px;
    }

    .article ul {
        margin-bottom: 30px;
        font-family: "Montserrat-Regular";
        font-size: 14px;
        font-weight: bold;
    }

    .article ol {
        margin-bottom: 30px;
        font-family: "Montserrat-Regular";
        font-size: 14px;
        font-weight: bold;

    }

    .read {
        padding: 5px 0px 5px 20px;
    }

    .text-color {
        padding: 30px 10px 30px 20px;
        margin-bottom: 15px;
    }

    .article_block_text_sidebar {
        margin:30px 0px 30px 10px;

    }

    .article_block_text_sidebar h2 {
        font-size: 14px;
    }

    .article_block_text_sidebar .articletextsidebar {
        font-size: 12px;
    }
    .article_block_text_sidebar a {
        font-size: 12px;
    }



}

@media only screen and (max-width: 576px) {
    .competitor-main .competitor {
        width:100%;

    }

    .reasons-main .reason {
        width: 100%;

    }

    .left-big-brown-one {
        font-family: 'Montserrat-Bold';
        font-size: 20px;
        color: #7D6A56;
        text-align: left;
        margin-bottom: 75px;
        margin-top: 110px;
    }

    .left-big-brown-with {
        font-family: 'Montserrat-Bold';
        font-size: 24px;
        color: #7D6A56;
        text-align: left;
        margin-bottom: 10px;
        margin-top: 110px;
    }

    .pod_lbb {
        font-family: 'Montserrat-Bold';
        font-size: 18px;
        color: #7D6A56;
        text-align: left;
        margin-bottom: 75px;
    }

    .textin {
        text-align: center;
        margin-top: px;
        margin-left: 130px;

    }

    .imgramka {
        margin-left: -90px;
        float: bottom;
    }

    .block-in-three {

    }
    .textin ul {
        font-size: 14px;
    }

    .color-block {
        float: left;
        width: 50%;
        margin: 15px 0;
    }

    .how-we-work .one-block {
        width:100%;
        float: left;
        height: 80px;
        padding-left: 0px;
    }

    .how-we-work .one-block .block-border .text {
        font-size: 13px; 

    }

    .how-we-work .one-block .block-border {
        margin-left: 90px;
    }

    .how-we-work .one-block .block-border .text span {
        font-size: 14px;
    }

    .how-we-work .one-block .block-border .text a {
        font-size: 14px;
    }

    .calc-forms {
        margin-left: -20px;
    }

    .article_block_text {
        margin: 10px 5px 10px 5px;
    }

    .article_block_text h2 {
        font-size: 12px;
    }

    .article_block_text_sidebar {
        margin:30px 0px 30px 5px;
        height: 140px;
    }

    .article_block_text_sidebar h2 {
        font-size: 10px;
    }

    .article_block_text_sidebar .articletextsidebar {
        font-size: 8px;
    }

    .article_block_text_sidebar a {
        font-size: 10px;
    }

    .article h1 {

        font-size: 18px;
        margin-bottom: 40px;
    }

    .article p {

        margin-bottom: 0px;
        font-size: 12px;
        font-weight: bold;
    }

    .article h2 {
        font-family: 'Montserrat-bold'; 
        color: #856A55;
        font-size: 16px;
        margin: 50px 0 70px 0;
    }

    .article h3 {
        font-family: 'Montserrat-bold'; 
        color: #856A55;
        font-size: 14px;
        margin-bottom: 100px;;
    }

    .article p b {
        padding-top: 40px;
    }

    .article ul {
        margin-bottom: 30px;
        font-family: "Montserrat-Regular";
        font-size: 12px;
        font-weight: bold;
    }

    .article ol {
        margin-bottom: 30px;
        font-family: "Montserrat-Regular";
        font-size: 12px;
        font-weight: bold;

    }

    .read {
        padding: 5px 0px 5px 5px;
        font-size: 15px;
    }

    .text-color {
        padding: 30px 1px 30px 2px;
        margin-bottom: 15px;
        font-size: 10px;
    }

    .free-forms {
        margin-left: 7px;
    }



}







.space10 {width: 100%; height: 10px;}
.space20 {width: 100%; height: 20px;}
.space30 {width: 100%; height: 30px;}
.space50 {width: 100%; height: 50px;}
.space75 {width: 100%; height: 75px;}
.space100 {width: 100%; height: 100px;}
.space120 {width: 100%; height: 120px;}
.space150 {width: 100%; height: 150px;}
.spacecalc {margin-top: 115px;}
.space250b{margin-bottom: 250px;}
.space100b{margin-bottom: 100px;}
.space30b {margin-bottom: 30px;}
.space100t{margin-top: 100px;}
.space30t {margin-top: 30px;}