@font-face{
    font-family: 'Montserrat-Bold';
    src: url('Montserrat-Bold.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'Montserrat-Regular';
    src: url('11952.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'Roboto-Medium';
    src: url('3964.ttf');
    font-weight: normal;
    font-style: normal;
}


@font-face{
    font-family: 'Myriad-Pro';
    src: url('.ttf');
    font-weight: normal;
    font-style: normal;
}





.krug {
    width: 30px;
    height: 30px;
    border-radius: 50px;
    background-color: green;
}


































    @media only screen and (max-width: 1200px) {
        
    }
    
    
    @media only screen and (max-width: 992px) {
        
    }



    @media only screen and (max-width: 768px) {

        .color-block {
            float: left;
            width: 27%;
            margin: 15px
        }

        .zone {
            font-size: 15px;
        }

        .color-block:nth-child(5) {

        }
    }

    @media only screen and (max-width: 576px) {


        .color-block {
            float: left;
            width: 38%;
            margin: 15px;
        }

    }

